body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  
}

.App {
  display: flex;
  height: 100vh;
  
}

.container {
  flex: 1;
  padding: 20px;
  background-color: lavender;
  overflow-y: auto;
}

.sidebar {
  width: 300px;
  border-right: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.pdf-page .react-pdf__Page__annotations {
  display: none;
}

.header h1 {
  font-size: 36px;
  margin: 0;
}
.recommendations-container {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}


.form-container {
  margin-top: 40px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-size: 18px;
  margin-bottom: 10px;
}

form input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 20px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #007bff;
}

.loading {
  text-align: center;
  padding: 20px;
}

.preview-container {
  margin-top: 20px;
}

.pagination {
  margin-top: 20px;
}

.error {
  color: red;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p .MuiTypography-root .MuiTypography-body1 .MuiTypography-gutterBottom .css-4w42zc-MuiTypography-root{
  color: white;
}